@font-face {
  font-family: 'Monserrat';
  font-style:  normal;
  font-weight: normal;
  src: url('./fonts/Monserrat-Bold.woff2') format('woff2'),
       url('./fonts/Monserrat-Bold.woff') format('woff');
}

body {
  background: #F3FDFF;
  margin: 0;
  font-family: 'Monserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
